html,
body {
  background: black;
  margin: 0;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.item {
  background: white;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.color-el,
#color-picker,
#color-scheme,
#scheme-btn {
  cursor: pointer;
  
  
}

#color-scheme,
#scheme-btn {
  padding: 2em;
  text-align: center;
  margin: 0 5px;
}

#color-picker {
  height: 80px;
  width: auto;
  margin: 5px 5px 0 5px;
}

#colors {
  display: grid;
  grid-column: 1/-1;
  grid-template-rows: repeat(5, 1fr);
  height: 100vh;
  margin: 5px;
}

.color-el {
  color: white;
  padding-left: 3px;
}

@media (min-width: 820px) {
  nav {
    display: grid;
    grid-template-columns: 200px 300px 200px;
    grid-template-areas: "colors scheme btn";
  }
  .item {
    height: calc(100% - 100px);
    width: calc(100% - 600px);
  }
  #colors {
    grid-template-columns: repeat(5, 1fr);
    margin-top: 0;
  }
  #color-picker,
  #color-scheme,
  #scheme-btn {
    height: 50px;
    align-items: center;
    margin: 5px;
    padding: 0;
  }

  #color-picker {
    grid-area: colors;
  }
  #color-scheme {
    grid-area: scheme;
  }
  #scheme-btn {
    grid-area: btn;
  }
  .color-el {
    height: inherit;
  }
}

@media (max-width: 1350px) and (min-width: 821px) {
  .item {
    height: calc(100% - 100px);
    width: calc(100% - 100px);
  }
}
